.myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}

#header {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Impact;
}


#whatwedo {
    color:rgb(0, 0, 0);
}

#moreaboutus {
    color:rgb(0, 0, 0);
}

#footer {
    color:rgb(0, 0, 0);
    font-family: Helvetica;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 42px;
    font-family: 'Arial Black';
    animation-name: test;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}

h2 {
    color: black;
    font-size: 30px;
    font-family: 'Arial Black';
}

h3 {
    color: black;
    font-size: 16px;
    font-family: 'Arial Black';
}

h4 {
    color: black;
    font-family: 'Arial Black';
}

p {
    font-size: 12px;
    font-family: Calibri;
}

ul {
    font-size: 12px;
    font-family: Calibri;
}

#box {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }
  
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

@keyframes test {
    from {color: rgb(231, 0, 0);}
    to {color: rgb(117, 0, 117);}
}
